[SERVER]
BIND_HOST = 0.0.0.0
BIND_PORT = 8080

[AMG]
USER = user
PASSWORD = password
HOST = localhost
PORT = 3003

[MYSQL]
HOST = localhost
USER = user
PASSWORD = password
DB = database
PORT = 3306

[POSTGRES]
HOST = localhost
USER = user
PASSWORD = password
DATABASE = database
PORT = 5432
